{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <style>
        .card {
            max-width: 100%;
        }
    </style>
</head>
<body>

<div class="container-lg d-flex align-items-center" style="height: 100vh;">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img src="{% static 'gcash1.jpg' %}" class="card-img" alt="">
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
            <div>
                <h5>Send the payment via the GCash QR code</h5>
                <a href="{% url 'home' %}" class="btn btn-primary">Go back to home</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
