{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <style>
        #btn_add {
            transition: all 0.2s ease-in;
            background-color: #55286F;
            color: white;
            
        }
        #btn_add:hover {
            transform: translateY(-3px);
            color: #ffffff;
            background-color: #4a2661;
        }
    </style>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</head>
<body >

    <nav class="navbar navbar-expand-lg" style="background-color: #55286F;">
        <div class="container-md py-0">
            <a class="navbar-brand text-light fs-4 d-flex justify-content-center" href="{% url 'home' %}">
                <img src="{% static 'crochet-logo.png' %}" class="d-flex justify-content-center" width="100px" height="100px" alt="">
            </a>
            <button class="navbar-toggler bg-body-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav-pills">
                        <a class="nav-link px-3 text-light fw-semibold ms-2" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item nav-pills">
                        <a class="nav-link px-3 text-light fw-semibold ms-2" href="{% url 'create_product' %}">Create</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-light fw-semibold px-3 ms-2" href="{% url 'cart' %}">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fw-semibold px-3 ms-2" href="{% url 'orders' %}">Orders</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-light fw-semibold px-3 ms-2" href="{% url 'signout' %}">Sign out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light fw-semibold px-3 ms-2" href="{% url 'signin' %}">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-md m-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a style=" text-decoration: none; color:#55286F" href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
    

    <div class="container mt-5 my-5">
        <div class="row ">
            <div class="col-md-6 mb-3">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ product.image1.url }}" class="d-block w-100" alt="{{ product.name }}">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ product.image2.url }}" class="d-block w-100" alt="{{ product.name }}">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ product.image3.url }}" class="d-block w-100" alt="{{ product.name }}">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 px-3">
                <h1 style="color:#55286F;"><strong>{{ product.name }}</strong></h1>
                <p class=" fs-5 py-2" style=" color:#55286F;"><strong>Price: ${{ product.price }}</strong></p>
                <hr>
                <p class="text-body-secondary"> {{ product.description }}</p>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        
                        <label for="quantity" class="text-body-secondary">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" class="form-control" style="border-color: #55286F;" value="1" min="1">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="additional_notes" class="text-body-secondary">Customization Notes:<br></label>
                        <label for="additional_notes" class="text-body-secondary text-muted">Specify the measurements, colors, etc., as needed </label>
                        <textarea id="additional_notes" name="additional_notes" class="form-control" style="border-color: #55286F;" rows="3" required></textarea>
                    </div>
                    <br>
                    <div data-bs-toggle="tooltip" title="{% if not request.user.is_authenticated %}You need to Sign in first{% endif %}">
                        <button type="submit" class="btn" id="btn_add"
                                {% if not request.user.is_authenticated %}disabled{% endif %}>
                            Add to Cart
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>    



</body>
</html>
